.mind-map-temp-area-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(122, 122, 122, 0.6);
}

.mind-map-temp-area-container-rect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 30%;
    background-color: white;
}